@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}

.version-info {
  display: flex;
  justify-content: center;
  font-size: small;
  margin-bottom: 10px;
}
